html,
body {
  padding: 0;
  margin: 0;
  background: radial-gradient(ellipse at top, #c6d1ee, transparent),
    radial-gradient(ellipse at bottom, #59637d, transparent);
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    /* background: black; */
  }
}